<%= link_to post, class: "flex space-x-2 border-t-4 border-black py-4 hover:bg-yellow-100 dark:hover:bg-slate-700", id: dom_id(post) do %>
  <div class="flex-1">
    <div class="flex items-center justify-between">
      <span class="font-black lowercase"><%= post.user.name %></span>
      <%= timeago post.created_at, "text-xs" %>
    </div>
    <p><span class="font-black mr-1">&gt;</span><%= line_breaks post.body %></p>
  </div>
<% end %>
