<div class="flex space-x-2 border-t-4 border-black py-4" id="<%= dom_id post %>">
  <div class="flex-1">
    <div class="flex items-center justify-between">
      <span class="font-black"><%= post.user.name.downcase %></span>
      <span class="font-thin text-sm"><%= time_ago_in_words post.created_at %> ago</span>
    </div>
    <p><span class="font-black mr-1">&gt;</span><%= line_breaks post.body %></p>
  </div>
</div>
